[2018-04-23 18:07] carlos-segovia opened #1 "IFD News - footer text"
No pude agregar el Footer desde la edición. Si desde agregar.
![image](https://user-images.githubusercontent.com/34341691/39144693-ecca3b34-4707-11e8-835e-98289df6e3d8.png)
![image](https://user-images.githubusercontent.com/34341691/39144684-e1f55afe-4707-11e8-951c-31be55162137.png)

[2018-04-23 18:46] carlos-segovia opened #2 "IFD News - Agregar imagen al crear"
No pude agregar la imagen al crear. Si lo pude hacer al editar

[2018-04-23 18:50] carlos-segovia opened #3 "IFD News - Acción después de Aceptar la edición o la creación"
Al hacer click en el boton Aceptar para confirmar agregar o editar los cambios se guardan pero queda la misma pantalla y no se sabe si se insertó correctamente.
Después de Aceptar debe redireccionar a la página
variableDominio/news.php

[2018-04-23 18:56] carlos-segovia opened #4 "IFD News - Footer box"
El rectangulo azul donde va el texto del footer y las redes sociales le falta un pedazo si no esta el texto y hay redes. Es decir, no queda un rectángulo azul.
![image](https://user-images.githubusercontent.com/34341691/39147016-d95aaa64-470e-11e8-946a-0ac61f474b5e.png)

[2018-04-23 18:57] carlos-segovia opened #5 "IFD News - Agregar modulo en la edición"
No pude agregar un módulo en la edición.

[2018-04-23 19:12] carlos-segovia opened #6 "IFD News - Texto tamaño de imagenes"
El texto del campo para subir las imagenes dice: (Tamaña ideal Ancho 238px y 312px de Alto)
![image](https://user-images.githubusercontent.com/34341691/39147706-c2a0c43c-4710-11e8-9bde-0c49de895c45.png)

![image](https://user-images.githubusercontent.com/34341691/39147691-b60f1afc-4710-11e8-9259-7c9c3a0f4fac.png)

Deberia decir:
(Tamaña ideal Ancho 560px y 210px de Alto)

[2018-04-23 19:14] carlos-segovia opened #7 "IFD News - Tamaño de imagen recortada"
Cuando subimos una imagen mayor al tamaño sugerido da la opción de recortar y el rectángulo de recorte aparece de 1,024px × 384px y deberia ser de 560px x 210px

[2018-04-23 19:37] carlos-segovia opened #8 "IFD Newd - Link del módulo"
El link del módulo esta agregando ifd.sietepuentes.com/ adelante del link.
Por ej si el link es google.com cuando lo muestra apunta a ifd.sietepuentes.com/google.com

[2018-04-23 20:10] carlos-segovia commented on #8
Ya esta funcionando así en PROD. Hay que agregarle http:// y funciona.

[2018-04-23 20:10] #8 closed, assigned to angeledugo

[2018-04-24 13:00] angeledugo commented on #4
Hola carlos acabo de hacer una prueba colocando el footer y la hace de manera correcta

[2018-04-24 13:03] angeledugo commented on #3
De la misma manera agregue una nueva news y me redirecciona al listado principal validar nuevamente

[2018-04-24 13:04] angeledugo commented on #7
Este punto no se donde aparecen estas medidas no lo he tocado deberia estar igual

[2018-04-24 13:06] angeledugo commented on #6
Actualize el javascript que indica las dimensiones ya debe aparecer correcto

[2018-04-24 13:08] angeledugo commented on #1
Validar nuevamente se realizo prueba y el footer text carga correctamente

[2018-04-24 13:09] angeledugo commented on #2
Validar se cargo imagen en desarrollo y se visualiza correctamente lo puedes verificar con uno de los ejemplos cargados

[2018-04-24 14:18] carlos-segovia commented on #1
Desde editar no funciona.
Y si hay una IFD News que ya tiene cargado el texto del footer cuando se edita no aparece el texto en el form.
Fijate en esta que tiene texto de footer y cuando la quieres editar aparece vacio el campo:
http://ifd.sietepuentes.com/generar.php?id=122&tipo=ifdnew&oper=HTML&template=2

[2018-04-24 14:21] carlos-segovia commented on #7
Las medidas son las de la imagen del html modelo.

[2018-04-24 14:23] carlos-segovia commented on #6
en agregar si esta bien
![image](https://user-images.githubusercontent.com/34341691/39193400-d8be82e4-47b1-11e8-96b2-451756421008.png)

en edición sigue apareciendo el anterior:
![image](https://user-images.githubusercontent.com/34341691/39193363-c3f9f898-47b1-11e8-9593-85028249be86.png)

[2018-04-24 14:25] carlos-segovia commented on #4
El issue es cuando NO hay texto de footer como en la siguiente imagen:
![image](https://user-images.githubusercontent.com/34341691/39193549-3347d88c-47b2-11e8-852b-ac091a80f0e6.png)

[2018-04-24 14:26] carlos-segovia commented on #3
Ahora si redirecciona.

[2018-04-24 14:26] #3 closed, assigned to angeledugo

[2018-04-24 14:28] carlos-segovia commented on #2
No se puede cargar imagen cuando se crea un IFD Nuevo
Le doy click en Browse, selecciono la imagen pero después queda así:
![image](https://user-images.githubusercontent.com/34341691/39193764-a4a190d6-47b2-11e8-9581-ac837f9b52b9.png)
y obviamente no sube la imagen.

[2018-04-24 14:32] carlos-segovia opened #9 "IFD News - Texto del Boton del segundo módulo"
El boton:
![image](https://user-images.githubusercontent.com/34341691/39193940-021dbe4c-47b3-11e8-97dd-a7be454a4a0e.png)
apunta correctamente al link del segundo módulo pero tiene un texto fijo, es decir, no toma el texto del boton del segundo módulo.

[2018-04-24 15:29] angeledugo commented on #1
Se actualizo correctamente asi como la redireccion verificar nuevamente

[2018-04-24 15:30] angeledugo commented on #2
si cuando selecciona la imagen y le indicas upload ya el la envia al servidor y guarda en el modulo el nombre que es lo que permite actualizar la tabla pero ya esta funciona correctamente

[2018-04-24 15:46] carlos-segovia commented on #2
El upload aparece solo si se va a recortar la imagen. Si seleccionas una imagen de 560 x 210 por ej, no aparece el upload y no se puede subir.
Por otro lado, si aparece y le das click en upload queda así:
![image](https://user-images.githubusercontent.com/34341691/39198409-60c008e2-47bd-11e8-9822-dd227ee2154b.png)
Dice: "No file selected" y si esta seleccionado. Deberia aparecer el nombre de la im

[2018-04-24 15:49] carlos-segovia commented on #1
Ahora si funciona.

[2018-04-24 15:49] #1 closed, assigned to angeledugo

[2018-04-24 15:52] angeledugo commented on #4
se actualizo la dimension para el caso de tener footer text

[2018-04-24 16:15] angeledugo commented on #2
Acabo de volver a probar subir una imagen con una dimension de 560 * 210 y se sube correctamente
http://ifd.sietepuentes.com/generar.php?id=125&tipo=ifdnew&oper=HTML&template=2

les dejo la imagen usada con dichas dimensiones
![prueba](https://user-images.githubusercontent.com/1197496/39200069-b7fb2612-47b0-11e8-8b23-811c3064c862.png)

[2018-04-24 16:17] angeledugo commented on #9
se actualiza el boton dinamicamente

[2018-04-24 16:26] carlos-segovia commented on #2
lo verifique y el issue se da cuando la imagen es menor a 560 x 210
por ejemplo  la siguiente imagen que es 510 x 209 no sube
![image](https://user-images.githubusercontent.com/34341691/39200613-05913486-47c3-11e8-8d0a-519238e4caa2.png)

[2018-04-24 16:30] carlos-segovia commented on #4
Ahora no esta funcionando la edición. Cuando quiero guardar los cambios que hice al editar no hace nada.

[2018-04-24 16:43] angeledugo commented on #4
ni justo en el momento que realizastes la prueba estaba validando en desarrollo por eso no te guardo
por favor valida que te edite y te permita cargar nuevos modulos acabo de probar con el ultimo y lo hizo correctamente solo queda validar para dimensiones inferiores

[2018-04-24 16:44] angeledugo commented on #2
Voy a validar con la imagen enviada

[2018-04-24 16:50] angeledugo commented on #2
Listo ya se encuentra validado como valor minimo solicita 500 * 110

[2018-04-24 17:33] carlos-segovia commented on #4
Ahora si anda.
![image](https://user-images.githubusercontent.com/34341691/39203851-6bd369f4-47cc-11e8-9643-b079aaa1a23d.png)

[2018-04-24 17:33] #4 closed, assigned to angeledugo

[2018-04-24 17:34] carlos-segovia commented on #5
Listo!

[2018-04-24 17:34] #5 closed, assigned to angeledugo

[2018-04-24 17:37] carlos-segovia opened #10 "IFD News - Edición no cambia la imagen"
Cuando edito un IFD News y quiero cambiar una imagen la selecciona pero al guardar los cambios no cambia la imagen.

[2018-04-24 17:52] carlos-segovia commented on #2
Si la imagen es menor a 500 * 110 no sube y no avisa nada. Para solucionarlo fácil en vez de 500 * 110 ponle 1 x 1 asi suben imagenes de cualquier tamaño.

[2018-04-24 19:27] angeledugo commented on #2
Ok listo ya lo coloco

[2018-04-24 19:28] angeledugo commented on #10
Solucionado por favor verificar

[2018-04-24 19:28] angeledugo commented on #9
Solucionado el item por favor validar

[2018-04-24 20:11] carlos-segovia commented on #10
Sigue sin funcionar.

[2018-04-24 20:12] carlos-segovia commented on #9
Listo!
![image](https://user-images.githubusercontent.com/34341691/39211658-b546ff40-47e2-11e8-9c1c-aedc675535b3.png)

[2018-04-24 20:12] #9 closed, assigned to angeledugo

[2018-04-24 20:13] angeledugo commented on #2
Listo actualizado

[2018-04-24 21:29] angeledugo commented on #10
Listo validado el cargue de imagenes en el proceso de edicion por favor validar

[2018-04-24 21:30] angeledugo commented on #7
esto ya esta actualizado

[2018-04-24 21:44] carlos-segovia commented on #2
Ahora funciona pero se perdió la redirección despues de agregar nuevo o de editar. Queda en el form como antes.

[2018-04-24 21:45] carlos-segovia commented on #10
Lo mismo que el #2 funciona pero al confirmar la edición queda en el form y no redirecciona al listado de IFD News.

[2018-04-24 21:49] carlos-segovia commented on #7
Sube la imagen del tamaño original ahora no aparece el redimensionar en la edición.
En nuevo aparece el redimensionar pero corta la imagen en 691px × 259px

[2018-04-24 21:54] angeledugo commented on #10
Listo solventado la redireccion

[2018-04-24 21:57] angeledugo commented on #7
este script de subir la imagen en la edicion no contiene la redimension como cuando agregas una nueva que usa el plugin jcrop

[2018-04-24 22:23] angeledugo commented on #6
Este issue fue completado

[2018-04-25 01:57] robert-dm commented on #10
Redirección ok.

[2018-04-25 01:57] #10 closed, assigned to angeledugo

[2018-04-25 01:58] robert-dm opened #11 "IFD News - imagen segundo módulo"
Si el segundo módulo tiene una imagen, hay que dejar un espacio entre el subtítulo y la imagen, donde marco:

![image](https://user-images.githubusercontent.com/35821871/39222428-f3d07496-4812-11e8-84e1-606e755209e2.png)

[2018-04-25 01:59] robert-dm commented on #6
Aparece el tamaño correcto

[2018-04-25 01:59] #6 closed, assigned to angeledugo

[2018-04-25 02:10] robert-dm opened #12 "IFD News - Al importar en outlook se visualiza con errores de diseño el html"
El template generado se debe importar en outlook y debe visualizarse tal cual se visualiza en el html generado.  Pero se ve con varios errores en outlook.  Cabe destacar que la maqueta html fue probada en outlook y se veía perfecta.
Estoy hablando de este IFD news que en la web se ve mejor que en el email importado http://ifd.sietepuentes.com/generar.php?id=131&tipo=ifdnew&oper=HTML&template=2

Pa

[2018-04-25 21:05] angeledugo commented on #12
Buenas tardes se realizaron varias pruebas con outlook llegando a la conclusion que tienes mas que ver con las version del mismo. es por ello que realizaron ajustes con la intencion de solventar los detalles mencionados por favor verificar.

[2018-04-25 21:54] robert-dm commented on #12
Verifico que se ve mejor, sin embargo marco donde hay issues aún (estoy usando outlook 2010).  En que versión de outlook se ve idéntico al html?

El hyperlink read more, debería estar a la derecha
Debería haber un espacio entre el hyperlink read more y la línea separadora
Debería haber un espacio entre el subtítulo azul y la imagen

![image](https://user-images.githubusercontent.com/35821871/39274

[2018-04-25 22:27] angeledugo commented on #12
por favor validar nuevamente los ajustes realizados

[2018-04-25 22:56] robert-dm commented on #12
Así llega el email usando Outlook 2010, sigue habiendo pequeñas correcciones para hacer.

![image](https://user-images.githubusercontent.com/35821871/39277135-acd1d2b4-48c2-11e8-9331-b32f2196590b.png)

[2018-04-26 13:22] angeledugo commented on #12
se actualizo el template validar por favor

[2018-04-26 14:00] angeledugo commented on #12
Validar nueva actualizacion por favor.

[2018-04-26 15:36] carlos-segovia commented on #2
Solucionado.

[2018-04-26 15:36] #2 closed, assigned to angeledugo

[2018-04-26 15:39] carlos-segovia commented on #7
Ok, Lo dejamos así.

[2018-04-26 15:39] #7 closed, assigned to angeledugo

[2018-04-26 19:11] robert-dm commented on #11
Fixed

[2018-04-26 19:11] #11 closed, assigned to angeledugo

[2018-04-26 19:11] robert-dm commented on #12
Angel como hablamos por favor envianos un email desde el outlook 2016 y si se ve bien cerramos este issue y pagamos el milestone.

[2018-04-26 19:59] angeledugo commented on #12
Se envio correo para validacion

[2018-04-27 00:31] robert-dm commented on #12
El último correo se ve bien los botones solo faltaría lo que marco:

![image](https://user-images.githubusercontent.com/35821871/39338442-1c9e3e80-4999-11e8-94e4-3758a2d6f9e8.png)

[2018-04-27 18:57] carlos-segovia opened #13 "Publicaciones - Link Open in browser"
El link Open in browser esta solo texto. Hay que agregarle el link para que abra en el navegador
![image](https://user-images.githubusercontent.com/34341691/39380060-a2cca9b6-4a33-11e8-8c4b-fee9e3c590fe.png)

[2018-04-27 18:59] carlos-segovia opened #14 "Publicaciones - Links del Footer"
Los links del Footer en el mail se ven distintos que los de la maqueta:

Maqueta:
![image](https://user-images.githubusercontent.com/34341691/39380121-da13dd7c-4a33-11e8-9d3d-c1139bdd576b.png)

Mail:
![image](https://user-images.githubusercontent.com/34341691/39380139-ea3d24a6-4a33-11e8-952f-e59e349ebf6a.png)

[2018-04-27 21:57] angeledugo commented on #14
vista actualizada

[2018-04-27 21:57] angeledugo commented on #13
Link actualizado

[2018-04-29 14:23] carlos-segovia commented on #13
Listo!

[2018-04-29 14:23] #13 closed, assigned to nobody

[2018-04-29 14:25] carlos-segovia commented on #14
Esta mejor pero se sigue viendo distinto:
- El tamaño de la tipografia es distinto.
- El subrayado es de distinto color.

Maqueta:
![image](https://user-images.githubusercontent.com/34341691/39407669-d8e368c4-4b9f-11e8-96f2-528d36e2bfae.png)

Mail:
![image](https://user-images.githubusercontent.com/34341691/39407665-c8295098-4b9f-11e8-97a6-e419bfa92eb2.png)

[2018-04-30 13:28] angeledugo commented on #14
buen dia actualice el color del subrayado por favor validar en el envio gracias.

[2018-05-02 20:25] carlos-segovia commented on #14
Listo!

[2018-05-02 20:25] #14 closed, assigned to nobody

[2018-05-02 20:33] carlos-segovia opened #15 "Publicaciones - Formularios"
En el form de creación y edición hacer las siguientes modificaciones:
1) sacar los imput de redes sociales
![image](https://user-images.githubusercontent.com/34341691/39547736-d61ded94-4e2e-11e8-99ef-3b51de901033.png)

2) que en vez de pais/paises diga texto
![image](https://user-images.githubusercontent.com/34341691/39547493-27367058-4e2e-11e8-83fe-88ee8a4f8ece.png)
en el botón también:
![image](

[2018-05-04 18:40] robert-dm opened #16 "Eventos - Issues para corregir"
Creé uno en eventos: http://ifd.sietepuentes.com/generar.php?id=70&tipo=news&oper=HTML&template=2

1-la imagen no se visualiza
![image](https://user-images.githubusercontent.com/35821871/39646240-21f84c72-4fb1-11e8-8796-e7ba8f80c734.png)

2-El texto de footer no tiene input en el formulario:
![image](https://user-images.githubusercontent.com/35821871/39646251-2f901838-4fb1-11e8-97fe-7386e78c0d1d.p

[2018-05-04 18:49] angeledugo commented on #16
1. Se actualizo la ruta
2. Los cambios de formularios seran acordados al final de las actividades establecidas
3.  Order actualizado

[2018-05-04 18:56] robert-dm commented on #16
1.La imagen se muestra en dimensiones erróneas, la imagen debe ser croppeada en 547x309 o misma relación (como está en la maquetación)
2.No, en este caso el footer y su texto es parte de la actualización del template, el footer es requerido en forma dinámica para este template.
3.OK
4.En el altaNewsletter.php cambiar este texto "Imagen (Tamaño ideal Ancho 600px y 162px de Alto)" por este texto "Im

[2018-05-04 19:18] robert-dm opened #17 "Eventos - Campo fecha debe ser dinámico"
Este campo se debe cargar desde el formulario:

![image](https://user-images.githubusercontent.com/35821871/39647556-d891ebce-4fb5-11e8-871e-61beac71061f.png)

[2018-05-04 19:19] robert-dm opened #18 "Eventos - Botones y background"
El background de los botones debe coincidir con el que se ingresó en el formulario, esto no está funcionando.

http://ifd.sietepuentes.com/generar.php?id=70&tipo=news&oper=HTML&template=2

![image](https://user-images.githubusercontent.com/35821871/39647863-e420fa4c-4fb6-11e8-9247-dae776db09dd.png)

[2018-05-04 19:51] angeledugo commented on #16
Issues actualizados
por favor validar

[2018-05-04 21:01] angeledugo commented on #17
texto superior actualizado

[2018-05-04 23:31] robert-dm opened #19 "Eventos - Modo columnas máximo 2 resultados por fila debe haber"
http://ifd.sietepuentes.com/generar.php?id=73&tipo=news&oper=HTML&template=2

En el modo columnas, máximo son dos resultados por línea, no 4 como se ve acá (incorrecto)
![image](https://user-images.githubusercontent.com/35821871/39656933-fb9a2072-4fd9-11e8-86b3-0d3ca2a1530f.png)

Comparar con la maquetación (hay dos arriba y dos abajo, correcto)
![image](https://user-images.githubusercontent.com/3

[2018-05-04 23:33] robert-dm opened #20 "Eventos - Modo columnas le falta un espacio en el medio"
Si hay dos resultados, debe haber un espacio entre las columnas, como en l maquetación

http://ifd.sietepuentes.com/generar.php?id=70&tipo=news&oper=HTML&template=2
![image](https://user-images.githubusercontent.com/35821871/39657004-6cfc74cc-4fda-11e8-8c8c-20410695974e.png)

[2018-05-04 23:34] robert-dm commented on #17
ok

[2018-05-04 23:34] #17 closed, assigned to angeledugo

[2018-05-04 23:36] robert-dm commented on #18
ok

[2018-05-04 23:36] #18 closed, assigned to angeledugo

[2018-05-04 23:36] robert-dm commented on #16
ok

[2018-05-04 23:36] #16 closed, assigned to angeledugo

[2018-05-04 23:39] robert-dm opened #21 "Eventos - Al editar un evento se pierde la imagen ya agregada al template"
Probar así:

1-Crear un template Evento, subir una imagen, guardar
2-Editar el evento, cambiar cualquier cosa, guardar.
3-Volver a editar el evento, la imagen ya no se ve en el admin, tampoco en el template generado.

[2018-05-04 23:55] robert-dm commented on #12
Para evitar ver esa línea en mobile, por favor Angel prueba agregando esto, que nos comenta el maquetador:

<style type="text/css">
   p{
   -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    }

[2018-05-08 20:26] angeledugo commented on #18
Listo se realizaron ajustes para botones

[2018-05-08 23:49] robert-dm commented on #21
Este issue sigue sin arreglarse

[2018-05-08 23:50] robert-dm commented on #20
ok cerrado

![image](https://user-images.githubusercontent.com/35821871/39788557-6306a3fa-5301-11e8-9477-92d4a6537207.png)

[2018-05-08 23:50] #20 closed, assigned to angeledugo

[2018-05-08 23:51] robert-dm commented on #19
Se sigue viendo mal, ahora con la ubicación de los botones y el texto en la segunda línea, no son las ubicaciones correctas.

![image](https://user-images.githubusercontent.com/35821871/39788629-ac142e6e-5301-11e8-859a-650c8e221dae.png)

[2018-05-30 13:13] #21 closed, assigned to nobody

[2018-05-30 13:14] #12 closed, assigned to nobody

[2018-05-30 13:14] #15 closed, assigned to nobody

[2018-05-30 13:14] #19 closed, assigned to nobody

[2018-05-30 17:20] carlos-segovia opened #22 "Agregar link"
El link se agrega siempre al principio de la caja, se deberia agregar donde este posicionado el cursor.
![image](https://user-images.githubusercontent.com/34341691/40736318-171d0104-6414-11e8-859e-c261bfde6b8e.png)
Si lo pinto y hago click en agregar link si lo hace bien.

[2018-05-30 17:52] carlos-segovia opened #23 "Eventos - Texto Superior"
![image](https://user-images.githubusercontent.com/34341691/40737980-ae352d9c-6418-11e8-8e66-81e42deff16b.png)
1. Donde dice "Ingrese Footer Text" cambiarlo por "Ingrese texto superior.
2. Poner este imput text al principio del formulario, porque en la vista se muestra arriba:
![image](https://user-images.githubusercontent.com/34341691/40738860-fecc595e-641a-11e8-9958-03b38cbee8f5.png)

[2018-05-30 18:00] carlos-segovia opened #24 "Eventos - Formato de Texto Izquierda, Texto Centrado y Texto Derecho"
Asi está en la maqueta:
![image](https://user-images.githubusercontent.com/34341691/40738437-f23e9a2c-6419-11e8-8ac9-8af67184c0a7.png)
Asi se ve ahora:
![image](https://user-images.githubusercontent.com/34341691/40738358-bc90a6d6-6419-11e8-9e7b-d4d444d570a6.png)

1) solo el Texto Izquierda debe ir en bold (negrita)
2) el separador de estos campos es un - (guión) no un . (punto)

[2018-05-30 18:08] carlos-segovia opened #25 "Eventos - Subtitulo"
El subtitulo ahora es una caja:
![image](https://user-images.githubusercontent.com/34341691/40738936-3edddeaa-641b-11e8-9003-b8f7996e4ca8.png)

Cambiarlo por un imput text igual al del título:
![image](https://user-images.githubusercontent.com/34341691/40738960-50c9a9aa-641b-11e8-8aad-f5e30f35d70a.png)

[2018-05-30 18:31] carlos-segovia opened #26 "Eventos - Descripción y Comentario final después de los módulos."
Esta es la imagen de la maqueta:
![image](https://user-images.githubusercontent.com/34341691/40739979-f1e57a4c-641d-11e8-97ce-33beb82906f4.png)

Asi es como se esta viendo ahora:
![image](https://user-images.githubusercontent.com/34341691/40740031-1529e7f4-641e-11e8-8b5a-5fbf943ffd4c.png)

1. El espacio entre el borde superior y el texto es mayor en la maqueta. Lo que ví de distinto en el codigo e

[2018-05-30 18:34] carlos-segovia opened #27 "Eventos - Formulario de edición - Campos Texto Superior y Footer Text"
1. Cuando carga el formulario para editar NO carga los valores guardados para Texto Superior y Footer Text.
2. Si agrego texto en estos dos campos no los guarda.

[2018-05-30 22:04] sietepuentes opened #28 "ifd2 templates - Alertas digitales limite de texto en textarea (quitar)"
http://ifd2.sietepuentes.com/generar.php?id=4&tipo=alertdig3&oper=HTML&template=2

El texto se corta en los campos de text area, deben ser textos sin límite.   Por favor revisar todos los templates de Alertas Digitales

![image](https://user-images.githubusercontent.com/38145241/40749998-36ea9f46-643c-11e8-9747-327f8502b70a.png)

[2018-05-30 22:05] sietepuentes opened #29 "ifd2 templates - Alertas digitales - Generar html con nombre diferente a test.html"
Podemos hacer que al generar el html no se guarden con el nombre text.html, sino que se guarden con el titulo de alerta digital? o alerta_digital1.html, alerta_digital2.html, etc.?

[2018-05-30 22:29] sietepuentes opened #30 "ifd2 - alertas digitales - la imagen cargada se ve deformada"
Ver este ejemplo
http://ifd2.sietepuentes.com/generar.php?id=3&tipo=alertdig3&oper=HTML&template=2

Se subió la imagen que está acá
http://ifd2.sietepuentes.com/newsletter/1527719219.jpg

Pero al redimensionarse queda como deformada en lo alto, como si se mostrara en otras dimensiones.
![image](https://user-images.githubusercontent.com/38145241/40750987-abe96388-643f-11e8-862d-d9f415a12bf4.png)

R

[2018-05-30 22:32] sietepuentes opened #31 "ifd2 - alerta digital 3 - el texto tiene otra fuente en este ejemplo"
http://ifd2.sietepuentes.com/generar.php?id=4&tipo=alertdig3&oper=HTML&template=2

![image](https://user-images.githubusercontent.com/38145241/40751082-108b829e-6440-11e8-8efa-2532cc25a662.png)

La fuente no es la misma que estaba en el template, de hecho es diferente a la fuente de este template donde sí es correcta:
http://ifd2.sietepuentes.com/generar.php?id=3&tipo=alertdig3&oper=HTML&template=

[2018-05-31 11:18] robert-dm commented on #31
Esto sucede aparentemente cuando se copia texto de un word con pre formato por ejemplo
No se respeta el formato del template...

[2018-05-31 16:28] afc-legio commented on #23
- hechos cambios indicados
- aparte corregido codigo porque no estaba completamente implementado para este campo

[2018-05-31 16:28] #23 closed, assigned to afc-legio

[2018-05-31 16:50] afc-legio commented on #24
corregido

[2018-05-31 16:51] #24 closed, assigned to afc-legio

[2018-05-31 16:54] afc-legio commented on #25
cambiado

[2018-05-31 16:54] #25 closed, assigned to afc-legio

[2018-05-31 17:07] afc-legio commented on #26
- corregido tamaño texto comentario final
- los margenes verticales dependen del contenido, ya que ese elemento tiene altura fija y el contenido se centra verticalemten

[2018-05-31 17:07] #26 closed, assigned to afc-legio

[2018-05-31 17:38] robert-dm opened #32 "IFD - Publicaciones Mensuales - Aceptar no funciona"
Al crear un registro:
http://ifd.sietepuentes.com/altaNewsmonth.php?oper=add

Clickear en el botón Aceptar, debe guardar y redireccionar al listado, pero no está funcionando.
![image](https://user-images.githubusercontent.com/35821871/40797871-ef003110-64df-11e8-81ba-24d069fff560.png)

[2018-06-01 06:39] afc-legio commented on #27
- campo "Texto Superior" ya se había arreglado en issue #23
- completado código faltante para campo "Footer Text"

[2018-06-01 06:39] #27 closed, assigned to afc-legio

[2018-06-01 07:21] afc-legio commented on #32
corregido

[2018-06-01 08:08] afc-legio commented on #28
es por el tipo de campo utilizado en la bd, que tiene limites maximos
cambiado en todas las tablas de alertas el tipo de campo para Intro y Contenido (textareas) a TEXT

[2018-06-01 08:08] #28 closed, assigned to afc-legio

[2018-06-01 08:46] afc-legio commented on #29
puesto que el fichero html a descargar tenga como nombre el titulo del elemento

[2018-06-01 08:46] #29 closed, assigned to afc-legio

[2018-06-01 09:58] afc-legio commented on #30
generacion templates alertas digitales: quitada altura fija imagen y su contenedor

[2018-06-01 09:58] #30 closed, assigned to afc-legio

[2018-06-01 11:03] afc-legio commented on #31
activado mostrado boton "Remove Styles" en editor html de las alertas digitales
si se pega desde word, utilizar este boton para borrar los estilos que puedan venir desde word

[2018-06-01 15:53] afc-legio commented on #22
este plugin utilizado está pensado para funcionar así, seleccionar el texto y pulsar el botón
no tiene opción para insertar donde esté el cursor, si no hay nada seleccionado lo inserta al inicio.
si esa funcionalidad es fundamental habría que cambiar el plugin utilizado

[2018-06-01 17:16] robert-dm commented on #31
En el ejemplo se sigue mostrando mal la fuente.
http://ifd2.sietepuentes.com/generar.php?id=4&tipo=alertdig3&oper=HTML&template=2

Voy a edit:
http://ifd2.sietepuentes.com/altaAlertDig3.php?id=4&oper=edit

Presiono el botón "Remove Styles"
Guardo
Pero sigue mostrándose mal.

Podemos forzar que siempre se guarden sin styles y se mantenga la fuente de la maquetación?

[2018-06-01 17:22] robert-dm commented on #32
Al apretar el botón ACEPTAR, se guarda el template, pero falta el redirect al listado de templates publicaciones del mes.  Porque apreto aceptar pero queda ahí y no está claro si se guardó o no.

[2018-06-01 17:23] robert-dm opened #33 "IFD - Publicaciones mensuales - No se puede visualizar el template"
Al crear el template lo veo en el listado, pero si ingreso al botón "ver" me redirecciona y me aparece este error:

http://ifd.sietepuentes.com/generar.php?id=8&tipo=newsMonth&oper=HTML
Fatal error: Uncaught exception 'ErrorException' with message 'Problem preparing query (select pub.* from bid_newsmonth_modulo_info pub where pub.IDNewsMonth= '8') Table 'ifdtempl_bid.bid_newsmonth_modulo_info' doe

[2018-06-01 17:24] robert-dm opened #34 "IFD - Publicaciones del mes - Editar muestra el form vacío"
Voy a editar un template creado y se muestra el form vacío sin los datos cargados.

http://ifd.sietepuentes.com/altaNewsmonth.php?id=8&oper=edit
![image](https://user-images.githubusercontent.com/35821871/40854352-85cada88-65a7-11e8-9786-7cc3765d2c18.png)

[2018-06-02 20:39] robert-dm opened #35 "IFD - Eventos - Se multiplican los campos de pantalla al Agregar Modulo"
En ifd.sietepuentes.com
Eventos - Agregar
Completo el template
Agrego un modulo
Agrego otro módulo

Los campos descripción, descripción final, se empiezan a duplicar.  si vuelvo a agregar otro módulo, se muestra otro campo más, y no se entiende donde se debe ingresar el texto.

Los campos que se duplican y multiplican son los que tienen el plugin de edición de texto
-Descripcion final (solo debe e

[2018-06-03 18:07] robert-dm commented on #23
OK

[2018-06-03 18:07] robert-dm commented on #24
Probado, ok.

[2018-06-03 18:10] robert-dm commented on #25
ok, probado.

[2018-06-04 09:02] afc-legio commented on #31
- he probado el boton de "borrar estilo" en dicha alerta digital (campo intro) y sí borró los estilos pegados del word
- en la template de alerta digital 3 había un estilo para los parrafos que hacía se cambiara la tipografía de estos dentro del contenedor para los campos intro y descripcion => quitado dicho estilo parrafo
- he puesto en las clases para los tres tipos de alerta digital, que para v

[2018-06-04 09:38] afc-legio commented on #32
- estaba dando error al guardar porque faltaba tabla en bd para los modulos (bid_newsmonth_modulo_info) => creada
- vuelto a probar a guardar registro, ahora ya no da error, guarda todo ok en bd y redirige a listado

[2018-06-04 10:02] afc-legio commented on #33
es el mismo error solucionado en la #32

[2018-06-04 10:24] afc-legio commented on #34
corregido

[2018-06-04 10:42] afc-legio commented on #35
eventos: al agregar modulo puesto que solo se active plugin editor html sobre los textarea de ese nuevo modulo

[2018-06-04 16:42] carlos-segovia commented on #22
Ok, lo dejamos así. Que lo pruebe el usuario y si nos piden el cambio te avisamos.

[2018-06-04 16:42] #22 closed, assigned to afc-legio

[2018-06-04 18:01] robert-dm opened #36 "IFD - Publicaciones del Mes - La imagen no se muestra"
1) Creo un template de Publicaciones Mensuales.  subo una imagen
2) Al visualizar el template, no se visualiza la imagen

En el php de edición se ve la imagen:
http://ifd.sietepuentes.com/altaNewsmonth.php?id=12&oper=edit
![image](https://user-images.githubusercontent.com/35821871/40933487-f9aeeeaa-6807-11e8-82dc-367328eb731b.png)

En el view no:
http://ifd.sietepuentes.com/generar.php?id=12&tipo=

[2018-06-04 18:13] carlos-segovia commented on #35
Listo! solucionado.

[2018-06-04 18:13] #35 closed, assigned to afc-legio

[2018-06-04 18:13] robert-dm opened #37 "IFD - Publicaciones mensuales - Edicion"
Al editar un form de Publicaciones del mes, existen los siguientes issues:

1) El botón ACEPTAR no hace nada
2) Aparece \n en varias partes de la pantalla:

![image](https://user-images.githubusercontent.com/35821871/40934020-cc9b5686-6809-11e8-9202-46955d0d6bd2.png)

[2018-06-04 18:16] robert-dm opened #38 "IFD - Publicaciones del mes - Imagen del template"
Al subir la imagen que está en la maquetación (la del calendario) http://ifd.sietepuentes.com/_maquetas/4-Publicaciones%20Mensuales/images/bigImg.png  no se puede redimensionar correctamente.

Pareciera que el image resize al hacer upload tiene otras dimensiones y otro tamaño:

![image](https://user-images.githubusercontent.com/35821871/40934147-398aae2c-680a-11e8-8e3d-13025e6b93f9.png)

[2018-06-04 18:16] carlos-segovia opened #39 "IFD - Eventos - Módulo"
El texto se superpone al botón

http://ifd.sietepuentes.com/generar.php?id=84&tipo=news&oper=HTML&template=2

![image](https://user-images.githubusercontent.com/34341691/40934128-2ba0abcc-680a-11e8-9360-f8c76a909051.png)

[2018-06-04 18:17] robert-dm opened #40 "IFD - Publicaciones del mes - Falta plugin formato de texto"
1) Agregar nuevo template
2) Ir a Agregar Módulo
3) El campo descripción debe tener el plugin para permitir incluir hyperlinks (y quitar formato)

![image](https://user-images.githubusercontent.com/35821871/40934179-5d002b8e-680a-11e8-82c2-d3de98b91f09.png)

[2018-06-04 18:18] carlos-segovia opened #41 "IFD - Eventos - Comentario final con link"
cuando se agregué un link en comentario final debe mantener el mismo color, solo agregar subrayado en el link.
Ahora se ve asi:
![image](https://user-images.githubusercontent.com/34341691/40934219-884f71d2-680a-11e8-89db-b59d289d3851.png)

[2018-06-04 18:20] robert-dm opened #42 "IFD - Publicaciones del mes - Falta "texto del boton""
En el form de Publicaciones del mes (Agregar y Editar)
En cada módulo
El botón debe tener un link, y además, un texto, por favor agregar el texto para el botón (luego se debe mostrar en el view y en el generate este texto, en vez de "Read More" siempre fijo"

![image](https://user-images.githubusercontent.com/35821871/40934249-9a983090-680a-11e8-8700-81c43742c90c.png)

![image](https://user-images

[2018-06-04 18:22] robert-dm opened #43 "IFD - Publicaciones del mes - Listar en modo descendente en base a fecha de creación"
Por favor listar los registros en modo descendente:

![image](https://user-images.githubusercontent.com/35821871/40934388-0350dd08-680b-11e8-8ae5-f515a562c827.png)

[2018-06-04 18:24] carlos-segovia opened #44 "IFD - Eventos - Redes Sociales"
http://ifd.sietepuentes.com/generar.php?id=84&tipo=news&oper=HTML&template=2

1. NO esta tomando los links de ninguna de las redes.
Por ejemplo si hago click en la imagen de facebook el link que aparece es:
http://ifd.sietepuentes.com/generar.php?id=84&tipo=news&oper=HTML&template=2#
pero el que esta guardado en la base y al cual debería apuntar es: https://www.facebook.com/NikeAirMaxOffeciel/

2.

[2018-06-04 18:50] carlos-segovia commented on #31
Listo! funciona OK.

[2018-06-04 18:50] #31 closed, assigned to afc-legio

[2018-06-05 08:18] afc-legio commented on #32
no reproduzco problema al dar a aceptar en nueva publicacion mes.
he creado una sin problemas ("Nueva prueba").

[2018-06-05 09:03] afc-legio commented on #36
estaba mal el dominio usado para la url de la imagen, corregido

[2018-06-05 09:42] afc-legio commented on #37
- corregido error que saltaba al dar a aceptar (mal nombre de tabla bd usada)
- quitados los \n\

[2018-06-05 10:27] afc-legio commented on #38
ajustado tamaño redimension imagen al de la maqueta (560x221)

[2018-06-05 10:54] afc-legio commented on #39
quitada height fija para ese contenido

[2018-06-05 11:10] afc-legio commented on #40
agregar modulo: aplicado plugin editor html a textareas nuevo modulo

[2018-06-05 14:34] afc-legio commented on #41
sobrescrito color enlaces para comentario final

[2018-06-05 16:44] afc-legio commented on #42
añadido campo TextoBoton a modulo publicacion mes (tabla bd y codigo)

[2018-06-05 22:38] afc-legio commented on #43
cambiado orden listado

[2018-06-06 01:57] robert-dm commented on #32
Funciona ok

[2018-06-06 01:57] #32 closed, assigned to afc-legio

[2018-06-06 01:58] robert-dm commented on #33
Funciona bien.

[2018-06-06 01:58] #33 closed, assigned to afc-legio

[2018-06-06 01:59] robert-dm commented on #34
OK

[2018-06-06 01:59] #34 closed, assigned to afc-legio

[2018-06-06 02:02] robert-dm commented on #36
funciona ok

[2018-06-06 02:02] #36 closed, assigned to afc-legio

[2018-06-06 02:02] robert-dm commented on #37
ok corregido

[2018-06-06 02:02] #37 closed, assigned to afc-legio

[2018-06-06 02:03] robert-dm commented on #38
Este error me sigue sucediendo, estoy intentando subir la imagen de la maqueta y el área de ajuste es mayor a la imagen.  Adjunto la imagen que quiero hacer upload y me sucede esto

![image](https://user-images.githubusercontent.com/35821871/41011740-a13fb55c-6914-11e8-92b5-a0307f08cf54.png)

imagen bgImg.png
![bigimg](https://user-images.githubusercontent.com/35821871/41011746-a6c18528-6914-11e8-

[2018-06-06 02:06] robert-dm commented on #43
Verificado, ok.

[2018-06-06 02:06] #43 closed, assigned to afc-legio

[2018-06-06 02:06] robert-dm commented on #42
Perfecto, ok

[2018-06-06 02:06] #42 closed, assigned to afc-legio

[2018-06-06 02:07] robert-dm commented on #41
Verificado, ok.
![image](https://user-images.githubusercontent.com/35821871/41011854-2c799e12-6915-11e8-9f39-4fe8a761bd9a.png)

[2018-06-06 02:07] #41 closed, assigned to afc-legio

[2018-06-06 02:08] robert-dm commented on #40
Por favor incluir la opción de resetear el formato de estilos por si pegan texto desde Word.  Esto en todos los templates que haya plugin por favor

![image](https://user-images.githubusercontent.com/35821871/41011865-44f0f4e0-6915-11e8-8455-580de11b822a.png)

[2018-06-06 02:10] robert-dm commented on #39
Verificado, ok.

[2018-06-06 02:10] #39 closed, assigned to afc-legio

[2018-06-06 06:42] afc-legio commented on #38
cambiadas dimensiones minimas resizer a 536x204

[2018-06-06 07:04] afc-legio commented on #40
mostrado boton borrar estilos en todas las instancias usadas del plugin editor html

[2018-06-06 07:32] afc-legio commented on #44
- corregido no se estaba usando en enlaces redes sociales el valor campo metido
- añadida separacion faltante antes icono google+

[2018-06-06 10:31] robert-dm commented on #38
testeado. funciona ok.

[2018-06-06 10:31] #38 closed, assigned to afc-legio

[2018-06-06 10:35] robert-dm commented on #40
Ok, el botón está, pero no quita todos los estilos.

Por favor revisar este ejemplo, el estilo del texto queda diferente a la maquetación:
http://ifd.sietepuentes.com/generar.php?id=14&tipo=newsMonth&oper=HTML

![image](https://user-images.githubusercontent.com/35821871/41033218-18da970c-695c-11e8-9cb1-f397f980d19e.png)

Así es como se debe ver el resultado final:
http://ifd.sietepuentes.com/_maqu

[2018-06-06 10:38] robert-dm commented on #44
Validado, funcionan correctamente los links y la separación se ve ok.

![image](https://user-images.githubusercontent.com/35821871/41033338-8bc556da-695c-11e8-8c31-99e3dd3b4ad3.png)

[2018-06-06 10:38] #44 closed, assigned to afc-legio

[2018-06-06 11:18] afc-legio commented on #40
aplicado color correcto template a contenedor campo descripcion modulo

[2018-06-06 13:14] robert-dm commented on #40
Perfecto.

[2018-06-06 13:14] #40 closed, assigned to afc-legio

[2018-06-07 17:55] robert-dm opened #45 "IFD2 - Alerta digital 1, 2, 3 ,subject in browser"
En todas las pestañas de browser(en todos los casos de Alertas digitales 1 2 y 3) se visualiza SUBJECT al abrir el template, podemos cambiarlo por el nombre del registro? o el título del template? pero que no se vea SUBJECT.

![image](https://user-images.githubusercontent.com/35821871/41117203-bbe4498c-6a62-11e8-914b-25934fc35236.png)

[2018-06-07 17:57] robert-dm opened #46 "IFD2 - Email body no contiene las imágenes"
Para los tres Alerta Digital... es un issue común.
El proceso que siguen los usuarios es generar el html, y luego Insertar como texto en Outlook el html descargado a su PC, y se muestra en el body del email de Outlook a enviar.
Esto funciona bien, pero cuando llega el mail a los destinatarios, no se muestran las imágenes (cuando hacen click en open in browser, las imágenes sí se ven), por ejemplo

[2018-06-08 06:48] afc-legio commented on #45
mostrado titulo elemento en <title> templates alertas digitales

[2018-06-08 07:56] afc-legio commented on #46
- en el html de la template se usan urls absolutas para las imágenes
- lo que veo en el email que me mandas es efectivamente que las imágenes tienen url relativas, pero locales respecto a su ordenador, no respecto al sitio
- cuando descarguen el html de la template, que descarguen solo el html de la pagina, no la pagina completa, porque entonces se le descargan también a local todos las imágenes y

[2018-06-08 12:15] robert-dm commented on #46
ok

[2018-06-08 12:15] #46 closed, assigned to afc-legio

[2018-06-08 12:15] robert-dm commented on #45
ok

[2018-06-08 12:15] #45 closed, assigned to afc-legio

[2018-06-08 20:47] robert-dm opened #47 "IFD / IFD2 - URL hard-codeada en generar.php file"
Agustín,

Porfa podrías reemplazar en ifd2 y en ifd en todos lados donde figure "ifd.sietepuentes.com" y "ifd2.sietepuentes.com" hard-coded por alguna variable, así podemos implementar los cambios en otro servidor y pueda funcionar? nos pasó que implementamos en otra URL las alertas digitales, pero están apuntando al generar el php a ifd2.sietepuentes.com

Gracias!

[2018-06-11 08:29] afc-legio commented on #47
- en el Config.php del sistema (prog/frm/core/) ya hay definida una constante para la url del sitio => WEB_ROOT_URL
- modificado el generar.php de ifd / ifd2 para sustituir el dominio hardcoded por el uso de dicha constante

[2018-06-11 14:50] robert-dm commented on #47
perfecto.

[2018-06-11 14:50] #47 closed, assigned to afc-legio